<div style="display:none" class="moa">
    <p>We are pleased to cooperate with institutions, organizations and corporations around the world as members of the Open Education Global.</p>
<p>As part of this cooperation, we agree to the following:
    <ol><li>We will demonstrate significant commitment to Open Education, for example, through the production, use and promotion of Open Educational Resources. Such demonstration can include the development and maintenance of an Open Education website that features open content consistent with the definition of Open Education on the Open Education Global website, significant incorporation of Open Educational Resources into institutional offerings, active promotion of Open Educational practice, or other activity consistent with the Open Education Global’s mission and values.</li>

    <li>We will work with other members to develop best practices to promote the development and use of OER and Open Educational practices. Opportunities to participate in working groups, committees and communities of interest are organized by the Consortium to facilitate these efforts.</li>

<li>We will pay annual membership dues. The schedule of membership fees per calendar year can be found on the Consortium's website, and is subject to revision by the Consortium's Board of Directors and approved by active voting Members.
    <br />The applicable membership fee will be due upon the acceptance of our application as a member of the Open Education Global.</li>
</ol>
</p>
<p>
        As long as we adhere to the above criteria, we understand that the Open Education Global will allow us to display the Open Education Global logo on our Open Education website. The logo will link directly to the Open Education Global website. Additionally, the Open Education Global will feature our logo and profile in the members list on the website, which will link to our Open Education website or other open initiative web page. We understand that the Open Education Global can require us to remove the Open Education Global logo from any and all of our sites, and will remove our name and logo from its website, should we no longer meet the criteria above.
</p>
</div>
