		<div class="large-6 columns">
		{% if request.user.is_staff %}
			<h2>Account information</h2>
			<p>
				<strong>Last login:</strong> {{ org.user.last_login }}<br/>
			</p>
			<p>
				<strong>Type:</strong> {{ org.get_membership_type_display }}<br />
				<strong>Status:</strong> {{ org.get_membership_status_display }}<br />
				{% if org.associate_consortium %}
					<strong>Associate consortium:</strong> {{ org.associate_consortium }}<br />
				{% endif %}
			</p>
		{% endif %}
		<h2 class="address">General information <a class="edit-link" href="{% url 'crm:organization-edit' org.id %}">Edit</a></h2>
		<p>
			<strong>Main website:</strong> <a href="{{ org.main_website }}">{{ org.main_website }}</a><br />
			<strong>OCW website:</strong> <a href="{{ org.ocw_website }}">{{ org.ocw_website }}</a><br />
			<strong>RSS course feed:</strong> <a href="{{ org.rss_course_feed }}">{{ org.rss_course_feed }}</a>
		</p>
		<p class="org-description">
			{{ org.description }}
		</p>
		{% if org.logo_small %}
		<p>
			<img src="{{ MEDIA_URL }}{{ org.logo_small }}" />
		</p>
		{% endif %}
		{% for address in org.address_set.all %}
		<h2 class="address">{{ address.get_address_type_display }} <a class="edit-link" href="{% url 'crm:address-edit' address.id %}">Edit</a></h2>
		<p>
		   {{ address.street_address }}<br />
		   {% if address.supplemental_address_1 %}{{ address.supplemental_address_1 }}<br />{% endif %}
		   {% if address.supplemental_address_2 %}{{ address.supplemental_address_2 }}<br />{% endif %}

		   {{ address.city }}, {{ address.postal_code }} {{ address.postal_code_suffix }}<br />
		   {{ address.state_province }}, {{ address.country }}
		<p>
		{% endfor %}
		{% if request.user.is_staff %}
			<a href="/admin/crm/address/add/?organization={{ org.id }}" class="button buton-primary" target="_blank">Add Address</a>
		{% endif %}
		</div>
		<div class="large-6 columns">
			<h2 class="contacts">Contacts</h2>
			{% for contact in org.contact_set.all %}
			<p>
				<strong>{{ contact.get_contact_type_display }}</strong><br />
				<strong>Name:</strong> {{ contact.first_name }} {{ contact.last_name }}<br />
				<strong>Email:</strong> {{ contact.email }}
				{% if contact.bouncing %}<span class="warning">(bounces!)</span>{% endif %}
			</p>
			{% endfor %}
			{% if not user.is_staff %}
			<p>To update information on who can access and vote on behalf of your organization, please contact <a href="mailto:memberservices@oeconsortium.org">member services</a>.</p>
			{% endif %}
		</div>
		<div class="large-6 columns">
			{% if org.get_consortia_members.count %}
			<h2>{{ org.get_consortia_members.count }} Consortia Members</h2>
			<ul>
				{% for consortia_member in org.get_consortia_members.all %}
					<li><a href="{{ consortia_member.get_absolute_url }}">{{ consortia_member.display_name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
