		<div class="large-6 columns">
		{% if request.user.is_staff %}			
			<h2>Account information</h2>
			<p>
				<strong>Username:</strong> <a href="/admin/auth/user/{{ org.user.id }}/" target="_blank">{{ org.user.username }}</a> (<a href="/admin/auth/user/{{ org.user.id }}/password/" target="_blank">Change password</a>)<br />
				<strong>Primary e-mail:</strong> {{ org.user.email }}<br />
				<strong>Last login:</strong> {{ org.user.last_login }}<br/>
			</p>
			<p>
				<strong>Type:</strong> {{ org.get_membership_type_display }}<br />
				<strong>Status:</strong> {{ org.get_membership_status_display }}<br />
				{% if org.associate_consortium %}
					<strong>Associate consortium:</strong> {{ org.associate_consortium }}<br />
				{% endif %}
			</p>			
		{% endif %}				
		<h2 class="address">General information <a class="edit-link" href="{% url 'crm:organization-edit' org.id %}">Edit</a></h2>		
		<p>
			<strong>Main website:</strong> <a href="{{ org.main_website }}">{{ org.main_website }}</a><br />
			<strong>OCW website:</strong> <a href="{{ org.ocw_website }}">{{ org.ocw_website }}</a><br />
			<strong>RSS course feed:</strong> <a href="{{ org.rss_course_feed }}">{{ org.rss_course_feed }}</a>
		</p>
		<p class="org-description">
			{{ org.description }}
		</p>
		{% if org.logo_large %}
		<p>
			<img src="{{ MEDIA_URL }}{{ org.logo_small }}" />
		</p>
		{% endif %}
		{% with org.address_set.all.0 as address %}
		{% if address %}
		<h2 class="address">Address <a class="edit-link" href="{% url 'crm:address-edit' address.id %}">Edit</a></h2>
		<p>
		   {{ address.street_address }}<br />
		   {% if address.supplemental_address_1 %}{{ address.supplemental_address_1 }}<br />{% endif %}
		   {% if address.supplemental_address_2 %}{{ address.supplemental_address_2 }}<br />{% endif %}
		   
		   {{ address.city }}, {{ address.postal_code }} {{ address.postal_code_suffix }}<br />
		   {{ address.country }}
		<p>
		{% endif %}
		{% endwith %}
		</div>
		<div class="large-6 columns">
			<h2 class="contacts">Contacts</h2>
			{% for contact in org.contact_set.all %}
			<p>
				<strong>{{ contact.get_contact_type_display }}</strong><br />
				<strong>Name:</strong> {{ contact.first_name }} {{ contact.last_name }}<br />
				<strong>Email:</strong> {{ contact.email }}
			</p>
			{% endfor %}

		</div>