{% extends "base.html" %}{% load static %}{% load crispy_forms_tags %}

{% block extra_head %}
    <link href="{% static 'uni-form/css/uni-form.css' %}" media="screen, projector, print" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'uni-form/css/default.uni-form.css' %}" media="screen, projector, print" rel="stylesheet"
          type="text/css"/>

    <style type="text/css">
        ul {
            font-size: 1em;
        }

        label[for="id_moa_terms"],
        label[for="id_terms_of_use"],
        label[for="id_coppa"] {
            display: inline-block;
        }

        .asteriskField {
            display: none;
        }

        .field-collapse {
            clear: none;
            float: left;
        }

        .text-full-width .textInput {
            width: 95%;
        }

        .terms-text,
        .coppa-text,
        .moa-text {
            height: 150px;
            overflow: scroll;
        }

        .terms-text ol {
            margin-left: 0;
            list-style: inside;
        }

        .terms-text li {
            list-style: inherit;
            list-style-type: decimal;
        }

    </style>
{% endblock %}

{% block extra_foot %}
    <script src="{% static 'theme/lib/javascripts/foundation/foundation.tooltips.js' %}"></script>

    <script src="{% static 'uni-form/js/uni-form.jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/application-form.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    </script>
{% endblock %}
