{% extends "base.html" %}{% load static %}

{% block logo %}
	<a href="https://www.oeglobal.org/"><img src="{% static "images/logo.svg" %}" alt="OE Global logo" /></a>
{% endblock %}

{% block contents %}
	<div class="row">
		<div class="large-6 columns">
			<h1>Membership system</h1>
			<div class="row">
				<div class="large-12 columns">
				<p>Login for existing OEG Members:</p>
			    <form action="" method="POST">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" class="button" value="Login" />
					<input type="hidden" name="next" value="{{ next }}" />
				</form>
				</div>
			</div>
			<p>Once you fill out the form above, you'll receive e-mail with login information.</p>
			<p>Please contact <a href="mailto:memberservices@oeglobal.org">memberservices@oeglobal.org</a> if you have any problems or questions regarding your account.</p>
		</div>
	</div>
{% endblock %}
