{% extends "base.html" %}

{% block contents %}
	<div class="row">
		<div class="large-6 columns">
			<h1>Membership system</h1>
			<div class="row">
				<div class="large-12 columns">
				<p>Login for existing OCWC Members:</p>
			    <form action="/accounts/login/" method="POST">{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" class="button" value="Login" />
					<input type="hidden" name="next" value="{{ next }}" />					
				</form>
				</div>
			</div>
			<p>Please contact <a href="mailto:memberservices@ocwconsortium.org">memberservices@ocwconsortium.org</a> if you have any problems or questions regarding your account.</p>
		</div>
		<div class="large-12">
			<h1>New members</h1>
			<a href="{% url 'application:application-add' %}" class="button">Apply for membership</a>
		</div>
	</div>
{% endblock %}