{% extends "base_membership_application_add.html" %}{% load static %}{% load crispy_forms_tags %}

{% block contents %}
    <div style="display:none;" class="help-text-institutional">
        <p>Institutional Members are accredited post-secondary institutions that demonstrate significant support for the
            production, use and/or promotion of Open Education.</p>
    </div>
    <div style="display:none;" class="help-text-associate">
        <p>Associate Consortium members are groups of Institutional or Organizational members who have formed into an
            Association based on common interests.</p>
        <p>Associate Consortia must have a minimum of 5 Institutional or Organizational members affiliated with them to
            remain in good standing.</p>
    </div>
    <div style="display:none;" class="help-text-organizational">
        <p>Organizational members are institutions or organizations that demonstrate significant support for the
            production, use and/or promotion of Open Education. Accredited post-secondary institutions may join as
            Institutional members.</p>
    </div>
    <div style="display:none;" class="help-text-corporate">
        <p>Corporate members provide services or materials that further the mission of Open Education Global and
            direct support of the Consortium in the form of higher annual dues.</p>
    </div>

    {% include "_application_moa_texts.html" %}
    {% include "_application_terms_texts.html" %}

    <div class="row">
        <div class="large-12 columns">
            <h1>OEGlobal Individual Membership Application (beta)</h1>

            <p>Thank you for your interest in being part of our 2022 Open Education Global individual
            membership pilot. Please complete the following application form. Your membership will be
            valid as soon as the application is approved, This new membership option will be offered
            at a rate of US$49/year, renewable on a yearly basis from date of approval. During this
            pilot test only, billing will not happen until July 2022 (and that will be the annual
            renewal date).</p>

            <p>For more information on individual memberships, please see
            <a href="https://www.oeglobal.org/get-involved/individual-membership/"></a>https://www.oeglobal.org/get-involved/individual-membership/</a> .</p>

            <p>Thank you for your interest and any feedback you can share. We look forward to having you
            as part of the OEGlobal community!</p>

            <p>Header image "Open Education Global Conference 2019" by OE Global
            <a href="https://flickr.com/photos/oeglobal/49136722536">https://flickr.com/photos/oeglobal/49136722536</a>
            shared under a Creative Commons (BY) license.</p>

            <form method="POST" action="" class="uniForm" enctype="multipart/form-data">
                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                        {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form|as_crispy_errors }}
                {% crispy form %}
            </form>
	    </div>
    </div>

{% endblock %}
