{% extends "base_membership_application_add.html" %}{% load static %}{% load crispy_forms_tags %}

{% block contents %}
    <div style="display:none;" class="help-text-institutional">
        <p>Institutional Members are accredited post-secondary institutions that demonstrate significant support for the
            production, use and/or promotion of Open Education.</p>
    </div>
    <div style="display:none;" class="help-text-associate">
        <p>Associate Consortium members are groups of Institutional or Organizational members who have formed into an
            Association based on common interests.</p>
        <p>Associate Consortia must have a minimum of 5 Institutional or Organizational members affiliated with them to
            remain in good standing.</p>
    </div>
    <div style="display:none;" class="help-text-organizational">
        <p>Organizational members are institutions or organizations that demonstrate significant support for the
            production, use and/or promotion of Open Education. Accredited post-secondary institutions may join as
            Institutional members.</p>
    </div>
    <div style="display:none;" class="help-text-corporate">
        <p>Corporate members provide services or materials that further the mission of Open Education Global and
            direct support of the Consortium in the form of higher annual dues.</p>
    </div>

    {% include "_application_moa_texts.html" %}
    {% include "_application_terms_texts.html" %}

    <div class="row">
        <div class="large-12 columns">
            <h1>Institutional Membership Application Form</h1>

            <p>We appreciate the interest in having your organization join Open Education Global (OEGlobal) at an institutional
            level and added to <a href="https://www.oeglobal.org/about-us/members/members-list/">our world wide membership</a>
            (see <a href="https://www.oeglobal.org/get-involved/become-a-member/">full details on institutional membership</a>).
            Note that if you are seeking to apply as an individual, please use the
            <a href="{% url 'application:individual-application-add' %}">Individual Membership Application</a> instead of the form below.</p>
            <p>The information you enter below will help us learn more about your organization and its interests in open education.
            Once accepted as a member, this will be used for the initial version of your institution's OEGlobal profile.</p>
            <p>Once your application is submitted, one of our team will follow up with a welcome message of acceptance, or in some
            circumstances, a request for more information.</p>
            <p>We are excited to see your interest in being part of OEGlobal. If you have any questions please contact us at
            <a href="mailto:memberservices@oeglobal.org">memberservices@oeglobal.org</a>.</p>

                <form method="POST" action="" class="uniForm" enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                        <div class="non-field-errors">
                            {% for err in form.non_field_errors %}
                                <p class="form-error">{{ err }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

        {{ form|as_crispy_errors }}
        {% crispy form %}
        </form>
    </div>
    </div>

{% endblock %}
