{% extends "base.html" %}

{% block contents %}
    <div class="row">
        <div class="large-12 columns">
            <h3>Institutional Membership Application Received</h3>
            <h1>{{ app.display_name }}</h1>
            <p>Thank you for submitting an application for {{ app.display_name }} to become an institutional member of Open Education Global.</p>
            <p>You can expect a response from one of our team members within a week. Upon approval of membership, we will reply by email with
            a welcome message including details on the next steps to activate your membership including notice of  the amount and date due for
            your membership, sent separately as an invoice.</p>
            <p>Please note that newly approved members only become official OEGlobal members upon receipt of the annual membership fee payment.</p>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h2>Membership</h2>
            <p>
                {% if app.simplified_membership_type %}
                    <strong>Type:</strong> {{ app.get_simplified_membership_type_display }}<br/>
                    {% if app.simplified_membership_type == 'institutional' %}
                        <strong>Consortia:</strong> {{ app.get_associate_consortium_display }}<br/>
                    {% endif %}
                    {% if app.simplified_membership_type == 'corporate' %}
                        <strong>Support level:</strong> {{ app.get_corporate_support_levels_display }}<br/>
                    {% endif %}
                {% endif %}
                {% if app.associate_consortium %}
                    <strong>Consortia:</strong> {{ app.get_associate_consortium_display }}<br/>
                {% endif %}
            </p>
            <p>
                <strong>Submitted on:</strong> {{ app.created|date:"M. j, Y" }}<br/>
                <strong>Last updated on:</strong> {{ app.modified|date:"M. j, Y" }}<br/>
                <strong>Status:</strong> {{ app.get_app_status_display }}<br/>
            </p>
            <h2>Support Commitment</h2>
            <p>{{ app.support_commitment }}</p>

            <h2>Initiatives</h2>
            <strong>Initiative 1: {{ app.initiative_title1 }}</strong><br />
            <p>{{ app.initiative_description1 }}</p>
            <p>{{ app.initiative_url1 }}</p><br /><br />

            <strong>Initiative 2: {{ app.initiative_title2 }}</strong><br />
            <p>{{ app.initiative_description2 }}</p>
            <p>{{ app.initiative_url2 }}</p>

            <strong>Initiative 3: {{ app.initiative_title3 }}</strong><br />
            <p>{{ app.initiative_description3 }}</p>
            <p>{{ app.initiative_url3 }}</p>

            <h2>Member Profile</h2>
            <p>
                <strong>Name:</strong> {{ app.display_name }}<br/>
                <strong>Description:</strong> {{ app.description }}<br/>

                {% if app.institution_type %}
                    <strong>Institution Category:</strong> {{ app.get_institution_type_display }}<br/>
                {% else %}
                    <strong>Institution Category:</strong> {{ app.get_organization_type_display }}<br/>
                    <strong>Is accredited:</strong> {{ app.get_is_accredited_display }}<br/>
                    <strong>Accreditation body:</strong> {{ app.accreditation_body }}<br/>
                {% endif %}

                {% if app.logo_large %}
                    <strong>Logo was provided</strong>
                {% else %}
                    <strong>Logo not provided</strong>
                {% endif %}
            </p>
            <p>
                <strong>Main Website:</strong> {{ app.main_website }}<br/>
                <strong>OCW Website:</strong>
                {{ app.ocw_website }}<br/>
            </p>
            <h2>Address</h2>
            <p>
                {{ app.street_address }}<br/>
                {% if app.supplemental_address_1 %}{{ app.supplemental_address_1 }}<br/>{% endif %}
                {% if app.supplemental_address_2 %}{{ app.supplemental_address_1 }}<br/>{% endif %}
                {{ app.postal_code }} {{ app.city }}<br/>
                {{ app.state_province }}<br/>
                {{ app.country }}<br/>
            </p>
            <h2>Lead Contact Information</h2>
            <p>
                <strong>First name:</strong> {{ app.first_name }}<br/>
                <strong>Last name:</strong> {{ app.last_name }}<br/>
                <strong>Job title:</strong> {{ app.job_title }}<br/>
                <strong>Email:</strong> <a href="mailto:{{ app.email }}">{{ app.email }}</a><br/>
            </p>
        </div>
        <div class="large-4 columns">
            <p>If you have any questions or need an update on your application, please contact us at
            <a href="mailto:memberservices@oeglobal.org">memberservices@oeglobal.org</a>.</p>
            {% if user.is_staff %}
                <a href="/admin/crm/membershipapplication/{{ app.id }}/" class="button">Edit Application</a>
            {% endif %}
            <p>
        </div>
    </div>
{% endblock %}
