{% extends "base.html" %}

{% block contents %}
    <div class="row">
        <div class="small-12 columns">
            <h1>{{ org.display_name }}</h1>

            <ul>
                <li><a href="{% url 'crm:organization-view' org.id %}">View organization information</a></li>
                <li><a href="{% url 'crm:reported-statistics-view' org.id %}">Report course statistics</a></li>
            </ul>
        </div>


        {% comment %}
            <div class="small-12 columns">
                <h2>Membership</h2>
                <p><a href="https://www.oeconsortium.org/members/member-mark/" target="_blank" class="button">Implement
                    new Member Mark</a></p>
            </div>
        {% endcomment %}

        {#{% comment %}#}
        {% now "Y-m-d H:i:s" as current_time %}
        {% if current_time < "2024-09-26 23:59:59" %}
        <div class="large-12 columns">
            <h1>Elections</h1>
            {# <p>Voting period has ended.</p> #}


            {% if org.can_vote %}
                <p>We invite you to <a href="https://www.oeglobal.org/about-us/elections/" target="_blank">review the
                    biography of candidates</a>.</p>
                <p>
                    <a href="{% url 'elections:vote-add' 12 %}" class="button medium">Vote in the Elections</a>
                </p>
            {% else %}
                <p>You are currently not eligible to vote. Please contact <a
                        href="mailto:memberservices@oeglobal.org">memberservices@oeglobal.org</a> for details.</p>
            {% endif %}
        </div>
        {% endif %}
        {#{% endcomment %}#}

    </div>
{% endblock %}
