{% extends "base.html" %}

{% block contents %}
	<div class="row">
		<div class="small-12 columns">
			<h1>{{ org.display_name }}</h1>

			<ul>
				<li><a href="{% url 'crm:organization-view' org.id %}">View organization information</a></li>
				<li><a href="{% url 'crm:reported-statistics-view' org.id %}">Report course statistics</a></li>
			</ul>
		</div>


		<div class="small-12 columns">
			<h2>Membership</h2>
			<p><a href="http://www.oeconsortium.org/members/member-mark/" target="_blank" class="button">Implement new Member Mark</a></p>
		</div>

		{# {% comment %} #}
		<div class="large-12 columns">
			<h1>Elections</h1>
			<p>Voting period in 2015 elections has ended.</p>
			
			{% comment %}
			{% if org.can_vote %}
			<p>We invite your <a href="http://www.oeconsortium.org/about-oec/membership/elections/" target="_blank">review the biography of candidates</a>.</p>
			<p>
				<a href="{% url 'elections:vote-add' 2 %}" class="button medium">Vote in 2015 Elections</a>
			</p>
			{% else %}
			<p>Your organization is currently not eligible to vote. Please contact <a href="mailto:memberservices@oeconsortium.org">memberservices@oeconsortium.org</a> for details.</p>
			{% endif %}
			{% endcomment %}
		</div>
		{# {% endcomment %} #}

	</div>
{% endblock %}