{% extends "base.html" %}

{% block contents %}
    <div class="row">
        <div class="large-6 columns">
            <h1>QuickBooks connection</h1>

            {% if request.user.profile.qb_valid %}
                Status: <b>Valid connection</b>
            {% else %}
                Status: <b>Invalid connection</b>
            {% endif %}

            <br/><br/>

            <p>Please login to QuickBooks with the button below, to activate the connection.</p>

            <p>
            <form action="." method="POST">
                {% csrf_token %}
                <input type="hidden" value="qb-connect" name="qb">
                <input class="button" type="submit" value="Login to QuickBooks">
            </form>
        </div>
    </div>
{% endblock %}
