.main {
	padding-top: 40px;
	padding-bottom: 60px;
}

#top-nav {
	padding-top: 40px;
}

.org-description {
	height: 150px;
	overflow: scroll;
}

textarea, input {
  color: black;
}

.edit-link {
	font-size: 18px;
	color: #6C8DA3;
}

.pull-right {
	float: right;
}

ul, ol, dl {
	font-size: 0.9em;
}

.errorlist {
	color: #b94a48;
}

form li {
	list-style: none;
}

#id_email_invoice_body, #id_email_invoice_paid_body {
	height: 360px;
}

dd {
	font-weight: bold;
	float: left;
	clear: left;
	line-height: 1.5em;
}

dt {
	float: left;
	line-height: 1.5em;
	padding-left: 0.5em;
}

.billinglog-table td {
	/*max-width: 30%;*/
	min-width: 120px;
}

strong {
	font-weight: bold;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}