{% extends "elections/base.html" %}{% load crispy_forms_tags %}{% load static %}

{% block extra_head %}
	<link href="{% static 'uni-form/css/uni-form.css' %}" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<link href="{% static 'uni-form/css/default.uni-form.css' %}" media="screen, projector, print" rel="stylesheet" type="text/css" />

	<style type="text/css">
		input[type="email"] {
			width: 53%;
		}

		.terms ul, .terms p {
			width: 100%;
			margin-left: 1em;
		}
		.terms ul li {
			list-style: disc inside;
		}

		label[for="id_terms"] {
            display: inline-block;

        }

        #id_agreement_cost,
        #id_agreement_fund {
            margin-right: 5px;
            margin-bottom: 5px;
        }

        label[for="id_agreement_cost"],
        label[for="id_agreement_fund"]{
            display: inline;
        }
	</style>
{% endblock %}

{% block extra_foot %}
    <script>
    jQuery(document).ready(function() {
        var checkOther = function() {
            if ($('#id_expertise_4').is(':checked')) {
                $('#id_expertise_other').attr('required', true);
            } else {
                $('#id_expertise_other').attr('required', false);
            }
        }

        $('#id_expertise_4').on('change', checkOther);
        checkOther();
    });
    </script>
{% endblock %}

{% block contents %}
	<div class="row">
		<div class="large-8 columns">
			{% if form.initial.acceptance %}
			<div class="alert-box">
				We have received your Candidacy for Board of Directors. You can further revise it below.
			</div>
			{% endif %}
			<form method="POST" action="" class="uniForm">
				{{ form|as_crispy_errors }}
				{% crispy form %}
			</form>
		</div>
	</div>
{% endblock %}
