{% extends "base.html" %}

{% block title %}Request Invitation to OE Global Connect{% endblock %}

{% block contents %}
    <div class="row">
        <div class="small-12 columns">
            <h1>Request Invitation to OE Global Connect</h1>
        </div>

        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}

            <input type="submit" class="button" value="Submit"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        <p>Once you fill out the form above, you'll receive e-mail with login information to Connect.</p>
        <p>Please contact <a href="mailto:conference@oeglobal.org">conference@oeglobal.org</a> if you have any problems
            or questions regarding your account.</p>
    </div>
{% endblock %}