{% extends "base.html" %}{% load static %}

{% block headrow %}{% endblock %}
{% block breadcrumbs_wrapper %}{% endblock %}
{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <style type="text/css">
        .spacer {
            height: 10px;
        }

        .underline {
            text-decoration: underline;
        }

        img {
            width: 250px !important;
        }

        body {
            font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif !important;
            font-size: 16px;
        }

        @media print {
            a {
                text-decoration: none !important;
                font-weight: normal !important;
            }

            a[href]:after {
                content: "" !important;
            }

            .row-logo {
                text-align: center;
            }

            .logo {
                float: right;
                margin-top: 50px;
            }

            body {
                width: 640px;
            }

            .large-4 {
                position: relative;
                width: 33.33333%;
            }

            .large-6 {
                position: relative;
                width: 50%;
            }

            .column,
            .columns {
                position: relative;
                padding-left: 0.9375em;
                padding-right: 0.9375em;
                float: left;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            table tbody tr td, table tr td {
                line-height: 1.5;

                font-size: 12px !important;
            }

            td, th {
                border: 1px solid black;
            }

            .description {
                width: 70%;
                text-transform: uppercase;
                text-align: center;

                font-size: 12px !important;

            }

            .amount {
                width: 30%;
                text-transform: uppercase;
                text-align: center;

                font-size: 11px !important;

            }
        }

        #paid {
            font-size: 15em;
            top: 40%;
            left: 20%;
            position: absolute;
            color: rgba(108, 108, 108, 0.1) !important;
        }

        .ubuntu10 {
            font-weight: 200 !important;
            font-size: 10px !important;
        }

        .arial10, .arial10 * {
            font-size: 14px !important;
        }

        p {
            font-size: 12px !important;
        }

        p.note, ul.note li {
            font-size: 12px !important;

            color: #900 !important;
        }

        .product_options {
            margin-bottom: 0;
        }

    </style>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="large-4 columns">
            <img src="https://conference.oeconsortium.org/2018/wp-content/themes/conf2018/images/logo.svg"/>
        </div>

        <div class="large-4 columns" style="float: right">
            <img src="https://www.openeducationweek.org/assets/images/oec-logo.svg" alt="OE Global logo"
                 class="logo"/><br/>
        </div>
    </div>

    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="large-6 columns">
            <p>Invoice No.: OE18-{{ invoice.entry_id|add:"0"|stringformat:"03d" }} <br/>
                {% if invoice.entry_created %}
                    Date: {{ invoice.entry_created|date:"F j, Y" }}
                {% else %}
                    Date: {{ invoice.pub_date|date:"F j, Y" }}
                {% endif %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">
            <p><strong>Billing address:</strong><br/>
                <strong>The Open Education Global</strong><br/>
                60 Thoreau St, Suite 238<br/>
                Concord, MA 01742<br/>
                US Tax ID Number: 01-0908761
            </p>
        </div>
        <div class="large-6 columns" style="float: right;">
            <p><strong>Billed to:</strong><br/>
                {{ invoice.name }}<br/>
                <strong>{{ invoice.organization }}</strong><br/>
                <br/>
                {{ invoice.billing_html|safe }}
            </p>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="row">
        <div class="large-10 columns push-1">

            <p>
                Open Education Global Conference 2018 Registration Fee
                <br/>(24-26 April 2018, Delft, the Netherlands)
                <br/><br/>
                Participant: {{ invoice.name }}
            </p>
            <table>
                {{ invoice.product_html|safe }}
            </table>

        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        {% if invoice.invoice_type == 'issued' %}
            <div class="large-10 columns push-1">

                <p>Thank you for your support of the OE Global through the prompt payment of this invoice.</p>

                <p class="note">Please note the following: <br/>
                <ul class="note">
                    <li>Payment is due 30 days from invoice date.</li>
                    <li>Payments not received within 3 months of becoming due will result in membership expiration.</li>
                    <li>All Payments should be made in United States Dollars</li>
                    <li>Please remit payment by Check, Wire Transfer, Bank Draft, or PayPal</li>
                </ul>
                </p>
            </div>
        {% else %}
            <br/>
        {% endif %}
        <div class="large-12 columns">
            <p> Please include invoice number or your name as added note (beneficiary reference).
                <br/><br/>
                Please don’t hesitate to contact us at<a href="mailto:conference@oeglobal.org">conference@oeglobal.org</a>
                if you need any further information.
            </p>
            <p>
                Kind regards,<br/>
                <strong>Open Education Global Conference 2018 Planning Team </strong><br/>

            </p>
        </div>

        <div class="large-10 columns push-1">
            <p>We're looking forward to meeting you at the Conference!</p>
        </div>
        {% if paid %}
            <div id="paid">PAID</div>
        {% endif %}
    </div>

    {% if not paid %}
        {% if invoice.invoice_type != 'issued' %}
            <div style="page-break-before:always;"></div>

            <div class="row">
                <div class="large-4 columns">
                    <img src="{% static 'theme/images/logo.png' %}" alt="OE Global logo"/>
                </div>
            </div>
            <div class="spacer"></div>

            <div class="row">
                <div class="large-12 columns">
                    <p><strong>Paying by check:</strong></p>
                    <p>Check should be made payable to Open Education Global. <br/>
                        <span class="underline">Please include invoice number on the check</span>, and mail the check
                        along with this invoice to:
                    </p>
                    <p style="margin-left: 10px;">
                        Open Education Global<br/>
                        60 Thoreau St, Suite 238<br/>
                        Concord, MA 01742<br/>
                        US Tax ID Number: 01-0908761<br/>
                    </p>
                    <p>Please contact us at conference@oeglobal.org to request US $ rate</p>
                </div>
                <div class="large-12 columns">
                    <p><strong>Electronic payment:</strong></p>
                    <p>Bank transfer information can be found below. <span class="underline">Please include invoice number in payment.</span>
                    </p>
                    <p>
                    <table>
                        <tr>
                            <td>Company Name</td>
                            <td>Open Education Global</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>60 Thoreau St, Suite 238</td>
                        </tr>
                        <tr>
                            <td>City / State / Zip</td>
                            <td>Concord, MA 01742, USA</td>
                        </tr>
                        <tr>
                            <td>IRS Taxpayer ID#</td>
                            <td>01-0908761</td>
                        </tr>
                        <tr>
                            <td>Bank Name</td>
                            <td>TD Bank Harvard Square</td>
                        </tr>
                        <tr>
                            <td style="vertical-align: text-top;">Bank Branch Address</td>
                            <td style="vertical-align: text-top; line-height: 1.6em;">1270 Massachusetts Ave<br/>
                                Cambridge, MA 02138
                            </td>
                        </tr>
                        <tr>
                            <td>Name on Account</td>
                            <td>Open Education Global</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>8247649706</td>
                        </tr>
                        <tr>
                            <td>Account Type</td>
                            <td>Checking</td>
                        </tr>
                        <tr>
                            <td>Bank Transit Routing # (ABA)</td>
                            <td>211370545</td>
                        </tr>
                        <tr>
                            <td>International SWIFT Code</td>
                            <td>NRTHUS33</td>
                        </tr>
                    </table>
                    </p>
                </div>
                {% if invoice.paypal_link %}
                    <div class="large-12 columns">
                        <p><strong>Paypal:</strong></p>
                        <p>Submit payment through PayPal using the following link: <br/>
                            <a href="{{ invoice.paypal_link|safe }}">{{ invoice.paypal_link|safe }}</a><br/><br/>
                            <span class="underline">Please include invoice number as added note.</span>
                        </p>
                    </div>
                {% else %}
                    <div class="large-12 columns">
                        <p><strong>Paypal:</strong></p>
                        <p>Please contact us to get a PayPal payment link.</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
