{% extends "base.html" %}{% load static %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"></script>

{% endblock %}

{% block extra_foot %}
	<script src="{% static 'js/staff-script.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
			<li><a href="/">Home</a></li>
			<li><a href="{% url 'staff:organization-list' %}">Organization list</a></li>
{% endblock %}
