{% extends "staff/organization_base.html" %}

{% block contents %}
    <div class="row">
        <div class="large-12 columns">
            &nbsp;<a class="button small primary" href="{% url 'staff:organization-list-excel-cccoer' %}">Export to Excel</a>
        </div>

        <div class="large-12 columns">
            <table>
                <thead>
                <tr>
                    <th>Institution's Name</th>
                    <th>Joined</th>
                    <th>Last Paid Invoice</th>
                    <th>State</th>
                    <th>Contact</th>
                </tr>
                </thead>
                {% for org in object_list %}
                    <tr>
                        <td><a href="{% url 'staff:organization-view' org.id %}">{{ org.display_name }}</a></td>
                        <td>{{ org.created|date:"Y-m" }}</td>
                        <td>{{ org.get_last_paid_invoice.pub_date|date:"Y-m" }}</td>
                        <td>{{ org.get_billing_address.state_province }}</td>
                        <td><a href="{{ org.get_lead_contact.email }}">{{ org.get_lead_contact.first_name }} {{ org.get_lead_contact.last_name }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
