{% extends "staff/organization_base.html" %}

{% block contents %}
<div class="row">
	<div class="large-12 columns">
		<table>
			<thead>
				<tr>
					<th>Institution's Name</th>
					<th>Membership Type</th>
					<th>AC - Member</th>
					<th>Status</th>
					<th>Invalid contacts</th>
                    <th>Geo</th>
				</tr>
			</thead>
			{% for org in object_list %}
				<tr>
					<td><a href="{% url 'staff:organization-view' org.id %}">{{ org.display_name }}</a></td>
					<td>{{ org.get_membership_type_display }}</td>
					<td>{{ org.associate_consortium }}</td>
					<td>{{ org.get_membership_status_display }}</td>
					{% if org.get_bouncing_contacts %}
						<td class="warning">{{ org.get_bouncing_contacts.count }}</td>
                    {% else %}
                        <td></td>
					{% endif %}
                    <td>
                        {% if not org.get_geo.latitude and not org.get_geo.longitude %}
                            X
                        {% endif %}
                    </td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
