{% extends "staff/organization_base.html" %}{% load static %}

{% block extra_head %}
	<link href="{% static 'uni-form/css/uni-form.css' %}" media="screen, projector, print" rel="stylesheet" type="text/css" />
	<link href="{% static 'uni-form/css/default.uni-form.css' %}" media="screen, projector, print" rel="stylesheet" type="text/css" />

	{{ block.super }}
{% endblock %}

{% block title %}{{ org.display_name }}{% endblock %}
{% block breadcrumbs %}
	{{ block.super }}
	<li><a href="#">{{ org.display_name }}</a></li>
{% endblock %}

{% block contents %}
	<div class="row" ng-app="orgApp">
		<div class="large-12 columns">
			<h1 class="display-name">{{ org.display_name }} <a class="edit-link" href="{% url 'admin:crm_organization_change' org.id %}" target="_blank">(Admin Edit)</a></h1>
		</div>
		{% include "_organization_info_full.html" %}
		{% include "staff/billinglog_form.html" %}
	</div>
{% endblock %}
